<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/custom_styles.css">
    <!-- Add any additional stylesheets or scripts you need -->
</head>
<body>




<div class="mx-auto app-login-box col-md-6">
<div class="app-logo-inverse mx-auto mb-3"></div>
 <div class="container">
	<div class="screen">
		<div class="screen__content">
  <!-- Display errors here -->
                       @if (flashMessages.has('form'))
                         <div role="alert" class="text-danger">
                           {{ flashMessages.get('form') }}
                         </div>
                       @endif

 <div class="login-title">Login To DupCode</div>

			<form class="login"  method="POST" action="/login">
         {{ csrfField() }}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" name="email" id="email"  required  value="{{ flashMessages.get('token','')}}"   class="login__input" placeholder="Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" id="password"  required class="login__input" placeholder="Password">
				</div>

        <a href="/forgot-password" class="forgot-password-link">Forgot Password?</a>

				<button class="button login__submit" type="submit" >
					<span class="button__text" >Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>

			<div class="social-login">

			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
</div>

</body>
</html>
